@css {
  @import url(http://fonts.googleapis.com/css?family=Ubuntu);
  @import url(http://fonts.googleapis.com/css?family=Special+Elite);
  @import url(http://fonts.googleapis.com/css?family=Raleway:100);
  @import url(http://fonts.googleapis.com/css?family=Arvo);
}

@import 'nib'
@import 'jeet'
@import 'axis'
@import './animations'
@import './mixins'

normalize-css()

// edit()

logo-text = #266A2E
bg-color-top = #6B78B4
bg-color-bottom = #79BEDB

color-content-default = #26406A

html, body
  min-height 100%

body
  color color-content-default
  background bg-color-bottom
  font-family 'Arvo'

.top-bar
  span(3/4)
  +tablet-or-mobile()
    stack()
  margin-bottom 32px
  .stuff
    background linear-gradient(right, #ffffff40, #00000010)
    padding 4px 4px 4px 4px
    border 1px none #ffffff80
    border-style none solid solid none
    border-radius 0px 0px 4px 0px
    +tablet-or-mobile()
      border-style none none solid none
      border-radius 0px

.content
  span(3/4, 1/4)
  +tablet-or-mobile()
    stack()
  .stuff
    padding 8px 8px 8px 8px
    border 1px none #ffffff80
    border-style solid none solid solid
    border-radius 4px 0px 0px 4px
    background linear-gradient(left, #ffffff40, #00000000)
    +tablet-or-mobile()
      border-style solid none solid none
      border-radius 0px

h1
  $h1(2)
  color logo-text
  font-family 'Raleway'

.gavel-logo
  size(32px, 32px)
  relative bottom left
  margin-bottom -4px
  image '/img/146-gavel-icon.png'
  display inline-block

.gavel-logo:hover
  animated(swing)

.animated
  animated()

h2
  $h2(1.2)

button
  $button(color-content-default)
  border 0
  font-family 'Arvo'
  +mobile()
    stack()

+mobile()
  button:not(:first-child)
    margin-top 2px

.login-button
  glossy-button()

.login-link-and-dropdown-list
  +mobile()
    stack()
    margin-top 2px

.login-link-text
  $button(color-content-default)
